# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=nextjs_dashboard_postgers_user
POSTGRES_HOST=dpg-cmdepvo21fec73d2u3ig-a
POSTGRES_PASSWORD=6Pl7lbQa1nnrUAaa9IIDg0msxyW1Yt9J
POSTGRES_DATABASE=nextjs_dashboard_postgers

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth